/* Icons taken from this website V will add in the footer somewhere as they must be referenced
<a href="https://www.flaticon.com/free-icons/user" title="user icons">User icons created by Freepik - Flaticon</a>
 */

/*
Colour Pallete
#437fC7
#6DAFFE
#EDF6FF
#FFFFFF

*/


body {
    font-family: "Corbel", sans-serif;
}

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #437fc7;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    margin: 10pt;
    margin-top: 20pt;
    background-color: #6daffe;
    box-shadow: 0 0 10px midnightblue;
    border-radius: 5px;
}

.sidenav a:hover {
    color: midnightblue;
}

.main {
    margin-left: 300px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.navHeading{
    margin: 20pt;
    text-align: center;
    font-size: 40pt;
    color: #F8F8F8;
}

.iconImg{
    padding-top: 5px;
    width: 30px;
    margin-right: 15px;
}

.container{
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 85%;
    margin: auto;
    background-color: #F8F8F8;
    padding: 50px;
    margin-top: 30px;
    box-shadow: 0 0 15px #cccccc;
    border-radius: 10px;
    color: black;
    border: 20px;
    border-color: #6daffe;
    border-style: solid;
}

.container-card{
    height: 100%;
    width: 90%;
    margin: auto;
    background-color: #F8F8F8;
    padding: 50px;
    margin-top: 30px;
    box-shadow: 0 0 15px #6daffe;
    color: black;
    border-radius: 10px;
}

.container-card p{
    font-size: 20px;
}

.pageTitle{
    margin: 0;
}

.subTitle{
    margin:0;
}

.headingOne{

}

.headingTwo{
    margin-bottom: 5px;
}

p{
    margin: 0;
}

.avatar{
    display: inline-block;
    width: 300px;
    border-radius: 70%;
    border: 5px solid white;
    box-shadow: 0 0 15px 4px #cccccc;
    float: right;
}

.profile-image{
    width: 100%;
}

ul li, ol li{
    font-size: 20px;
}


ul{
    margin-top: 10px;
}

.table-legend{
    width: 50%;
    text-align: center;
    font-size: 20px;
}

table, th, td{
    border-color: black;
    border-style: solid;
}

.table-project{
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.subcontainer-card{
    height: 100%;
    width: 90%;
    margin: auto;
    background-color: #F8F8F8;
    padding: 50px;
    margin-top: 30px;
    box-shadow: 0 0 15px #cccccc;
    color: black;
    border-radius: 10px;
}

.fontStyle{
    font-size: 20px;
}